.clearfix{
	clear: both;
}
.header{
    height: 143px;
	background-color: #000;
}

.header .header-inner{
	margin: 0 auto;
	width: 970px;
	height: 143px;
}

.header-inner .logo img{
	float: left;
	margin-top: 25px;
	margin-right: 16px;
}
.header-inner h1{
	float: left;
    font-size: 60px;
    color: #ce2c00;
    line-height: 143px;
    margin-right: 65px;
    letter-spacing: -6px;
}

.header-inner h1 span {
	color: #818181;
}

.header-inner .navbar ul{
	line-height: 153px;
}

.header-inner .navbar li{
	float: left;
	margin-right: 28px;
	list-style: none;
	font-size:14px;
	line-height: 153px;
	font-family: verdana;
}

.header-inner .navbar a {
   color:#7f7b66;
   text-decoration: none;
}


.header-inner .navbar a:hover{
	color: #c92000;
}


.button{
	display: block;
	border-radius: 5px;
	width: 106px;
	height: 41px;
	font-size: 30px;
	color: #fff;
	background-color: #d03000;
	text-decoration: none;
	text-align: center;
	line-height: 33px;
	margin-top: 26px;
}


.footer{
	height: 150px;
	background-image: url(../images/footer-bg_07.png);
	
}
 .footer-inner{
 	height: 150px;
    width: 683px;
    margin: 0 auto;
}

.footer-inner .artical{
	width: 310px;
	margin-top: 36px;
	float: left;
	text-align: center;
	
}
.footer-inner .artical p{
    font-size: 14px;
	color: #7f7f7f;
	font-family: verdana;
	margin-top: 14px;
}

.footer-inner .artical p span {
	color: #cc2800;
	text-decoration: underline;
}

.footer-inner .image{
	float: right;
	margin-top: 48px;
}
.footer-inner .image img{
	margin-left: 7px;
}

.content {
	background-image: url(../images/content-bg_10.png);
} 

.content-inner{
	width: 940px;
	margin:0 auto;
	padding-top: 40px;
} 


.content .content-top .second{
	margin-left: 12px;
	margin-right: 12px;
}