.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
	zoom:1;
}

img{
	width: 100%;
	height: auto;
}
body{
	font-size: 10px;
	font-family: 'Verdana','宋体','黑体',Arial,Helvetica,Verdana,sans-serif;
}
.header{
	width: 100%
}
.header header{
	width: 70.4225%;
	height: 55px;
	margin: 0 auto;
} 
.header header img{
	display: block;
	float: left;
	max-width: 169px;
}
.header header .search{
	float: left;
	width: 26.5263%;
	margin:13px 6.8421% 13px 14.5263%;
}
.header header .search input{
	width: 86.0592%;
	height: 26px;
	font-size: 1.2em;
	border:1px solid #999999;
	color: #999999;
	display: block;
	float: left;
}
.header header .search .button{
	display: block;
	float: left;
}
.header header .search .button img{
	max-width: 29px;
}
.header header .title{
	width: 16.5789%;
	margin-top: 13px;
	float: left;
	font-size: 1.2em;
}
.header header .title a{
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
.header header .cart{
	width: 13.4736%;
	float: right;

} 
.header header .cart .cart-left{
	float: left;
	margin-top: 13px;

}
.header header .cart .cart-left img{
	max-width: 67px;
}
.header header .cart .cart-left span{
	color: red;
	font-weight: bold;
	font-size: 1.6em;
}

.header header .cart .cart-right{
	display: block;
	float: right;
}
.header header .cart .cart-right img{
	max-width: 36px;
}
.nav{
	width: 100%;
	height: 30px;
	background-color: #000;
}
.nav nav{
	width: 70.4225%;
	height: 30px;
	margin: 0 auto;
}
.nav nav .nav-left{
	width: 17.2631%;/*164/950*/
	float:right;
}
.nav nav .nav-left img{
	margin-top: 6px;
	display: block;
	float: left;
	margin-right: 2.8421%;
	max-width: 44px;
}
.nav nav .nav-left ul{
	margin-top: 8px;
	list-style: none;
	float: left;
}
.nav nav .nav-left ul li{
	float: left;
	display: block;
	width: 38px;/*;38/164*/

}
.nav nav .nav-left a{
	text-decoration: none;
	color:#fff;
	display: block;
	background-image:url(../images/nav_14.png); 
	background-repeat: no-repeat;
	background-position: right center;
	margin-left: 16.4634%;/*27/164*/
}
.nav nav .nav-center{
	margin-left: 8.9999%;
	margin-top: 8px;
	float: right;
	width: 38.8421%;/*369/950*/
}
.nav nav .nav-center ul {
	width: 100%;
}
.nav nav .nav-center .mainbar>li{
	position: relative;
	float: left;
	width: 26.5582%;/*98/369*/
}
.nav nav .nav-center .mainbar>li:first-child{
    background-image: url(../images/nav_11.png);
	background-repeat: no-repeat;
	background-position: 0 -3px;
}
.nav nav .nav-center .mainbar>li:nth-child(2){
	margin-right: 9.8401%;/*40/369*/
	margin-left: 9.8401%;/*40/369*/
    background-image: url(../images/nav_06.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.nav nav .nav-center .mainbar>li:nth-child(3){
    background-image: url(../images/nav_03.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.nav nav .nav-center .mainbar>li a{
	text-align: center;
	display: block;
	background-image: url(../images/nav_14.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.nav nav .nav-center .mainbar>li:first-child a{
	color:#fff;
	text-decoration: none;
}
.nav nav .nav-center .mainbar>li:nth-child(2) a{
	color:#008bd2;
	text-decoration: none;
}
.nav nav .nav-center .mainbar>li:nth-child(3) a{
	color:#cbd224;
	text-decoration: none;
}
.nav nav .nav-center .sidebar{
	list-style: none;
	margin-top: 10px;
	margin-left: 25%;
	display: none;
	position: absolute;
	z-index: 11;
	background-color: #fff;
	text-align: center;
}
.nav nav .nav-center .sidebar>li{
	line-height: 18px;
	cursor: pointer;
}
.nav nav .nav-right{
	margin-top: 8px;
	float:right;
	width: 16.4210%;/*156/950*/
	margin-left: 17.7894%;/*167/950*/
}
.nav nav .nav-right ul{
	width: 100%;
	list-style: none;
}
.nav nav .nav-right ul li{
	float: left;
}
.nav nav .nav-right ul li:first-child{
	margin-right: 23.7179%;/*37/156*/
}
.nav nav .nav-right ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.nav nav .nav-right ul li a:hover{
	color:#e83921;
}
.service{
	width: 100%;
}
.service .service-inner{
	width: 70.4225%;
	margin: 0 auto;
}
.service .service-inner img{
	max-width: 16px;
	margin-top: 9px;
}
.service .left,.service .center,.service .right{
	width: 32.3333%;
	height: 30px;
	float: left;
	line-height: 30px;
}

footer{
	width: 100%;
}
.footer-top{
	width: 100%;
	height: 40px;
	background-color: #000;
	margin-bottom: 20px;
}
.footer-top-inner div{
	color: #b3b3b3;
	width: 25%;
	float: left;
	line-height: 40px;
}
.footer-top-inner div input{
	color: #b3b3b3;
	background-color: #454545;
	border:1px solid transparent;
}
.footer-top-inner div a{
	text-decoration: none ;
	color: #ff6c00;
	font-weight: bold;
}
.footer-center{
	width: 100%;
}
.footer-center .footer-center-inner,.footer-top .footer-top-inner{
	width: 70.4225%;
	margin-left: 14.8257%; 
}
footer .footer-center div{
	width: : 15%;
	float: left;
	margin-right:7%;
}
footer .footer-center div  a{
	color:#666666;
	text-decoration: none;
}
footer .footer-center div span{
	font-size: 1.4em;
	font-weight: bold;
}
footer .footer-center div img{
	max-width: 21px;
}
footer .footer-center div:first-child img{
	max-width: 14px;
}
footer .footer-center div ul {
	margin-top: 15px;
}
footer .footer-center div:last-child{
	margin-right: 0; 
}

footer .footer-center div ul li{
	color:#666666;
	margin-bottom: 5px;
}
footer .footer-bottom{
    height: 40px;
	background-color: #ebebeb;
}
footer .footer-bottom p{
	float: right ;
	margin-left: 3%;
	line-height: 40px;
}
footer .footer-bottom p:first-child{
	margin-right: 14.2857%;
};
